@use '~@angular/material' as mat;
@use "./themes/default-themes.scss" as abiqum;

@import "~@angular/material/theming";
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');


// Fonts
$app-font: '"Space Grotesk"';

$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, $app-font, -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, $app-font, -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, $app-font, 0em),
  display-1: mat.define-typography-level(34px, 40px, 400, $app-font, 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, $app-font, 0em),
  title: mat.define-typography-level(20px, 32px, 500, $app-font, 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, $app-font, 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, $app-font, 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, $app-font, 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, $app-font, 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, $app-font, 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, $app-font, 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, $app-font, 1.5px),
);

@include mat.core($fontConfig);


// Themes
$angular-primary: mat.define-palette(abiqum.$grey-palette);
$angular-accent: mat.define-palette(abiqum.$deep-purple-palette);
$angular-warn: mat.define-palette(abiqum.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-themes($angular-dark-theme);  
}


// Custom
// Handle buttons appropriately, with respect to line-height
body {
  background-color: mat.get-color-from-palette($angular-primary, 50);

  &.darkMode {
    background-color: mat.get-color-from-palette($angular-primary, 800);
  }
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}

mat-icon {
  vertical-align: middle;
}

.mat-form-field {
  margin-bottom: 0.5rem;
}

.mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.mat-dialog-container {
    padding: 1rem !important;
}
  